.confirmation-container__footer
  %ul
    %li=link_to "プライバシーポリシー",root_path
    %li=link_to "メルカリ利用規約",root_path
    %li=link_to "特定商取引に関する表記",root_path    
  = link_to image_tag("logo-gray.svg",class: "footer-logo"),root_path 
  %p © 2019 Mercari  