.information
  .information__registration
    .information__registration__main-header
      .information__registration__main-header__logo-mark
        .information__registration__main-header__logo-mark__img
          = link_to '',root_path
          = link_to image_tag('logo_horizontal.png', class: "img"),root_path
      .information__registration__main-header__reft
        .guide-messages
          .guide-messages__information 会員情報
          .guide-messages__tel 電話番号認証
          .guide-messages__address__red お届け先住所入力
          .guide-messages__payment 支払い方法
          .guide-messages__end 完了
        .guide-line
          .guide-line__dot-red
          .guide-line__border-red
          .guide-line__dot-red
          .guide-line__border-red
          .guide-line__dot-red
          .guide-line__border-red
          .guide-line__dot-red
          .guide-line__border-red
          .guide-line__dot-red
.information-registration__base
  .information-registration__base__main-box
    .information-registration__base__main-box__inner-header
      会員登録完了
    .information-registration__base__main-box__click-area

      .information-registration__base__main-box__click-area__input
        ありがとうございます。会員登録が完了しました。

      .information-registration__base__main-box__click-area__input
      .information-registration__base__main-box__click-area__input__empty-box
        .information-registration__base__main-box__click-area__rink-btn
          = link_to '次へ進む',root_path
      .information-registration__base__main-box__click-area__input__empty-box

  .information-image-views
    .information-image-views__sample
= render partial: "devise/registrations/form-footer" 