
.information-registration__base
  .information-registration__base__main-box
    .information-registration__base__main-box__inner-header
      会員情報登録
    .information-registration__base__main-box__click-area
      .information-registration__base__main-box__click-area__social__link-box
        .information-registration__base__main-box__click-area__social__link-box__configuration
          %a.information-registration__base__main-box__click-area__social__link-box__configuration__social__mail{href: ""}
            メールアドレスで登録する
          %a.information-registration__base__main-box__click-area__social__link-box__configuration__social__facebook{href: ""}
            facebookで登録する
          %a.information-registration__base__main-box__click-area__social__link-box__configuration__social__google{href: ""}
            googleで登録する

