-# 電話番号認証ページ
.information-registration__base
  .information-registration__base__main-box
    .information-registration__base__main-box__inner-header
      電話番号認証
    .information-registration__base__main-box__click-area
      .information-registration__base__main-box__click-area__input
        %label.information-registration__base__main-box__click-area__input__information__label 認証番号
        %span.information-registration__base__main-box__click-area__input__caveat 必須
        %input.information-registration__base__main-box__click-area__input__information__text{placeholder: " 携帯電話番号の入力", type: "text"}/
        %p.information-registration__base__main-box__click-area__input__black-notes
          SMSで届いた番号を入力してください
      .information-registration__base__main-box__click-area__input
        .information-registration__base__main-box__click-area__rink-btn{href: ""} 
          = link_to '認証して完了',root_path
    
    .information-registration__base__main-box__click-area
      .information-registration__base__main-box__click-area__input
        %p.information-registration__base__main-box__click-area__input__black-notes 30秒たっても認証番号が届かない方へ
        %p.information-registration__base__main-box__click-area__input__gry-notes
          電話番号で認証を聞くこともできます。
      .information-registration__base__main-box__click-area__input
        .information-registration__base__main-box__click-area__rink-btn{href: ""} 
          = link_to '電話で認証番号を聞く (通話無料)',root_path
    
    .information-registration__base__main-box__click-area
      .information-registration__base__main-box__click-area__input
        %p.information-registration__base__main-box__click-area__input__black-notes 電話番号を再送することもできます。もう一度電話番号を入力してください。
        .information-registration__base__main-box__click-area__input__rink__position-left{href: ""}
          = link_to '電話番号を再度入力する',root_path

        %p.information-registration__base__main-box__click-area__input__left-notes 
          ※SMSが届かない場合は
          .information-registration__base__main-box__click-area__input__left-notes__rink{href: ""} 
            = link_to 'SMS受信設定',root_path
            を確認して、もう一度電話番号を入力してください。
