
.information-registration__base
  .information-registration__base__main-box
    .information-registration__base__main-box__inner-header
      会員情報登録
    .information-registration__base__main-box__click-area
      .information-registration__base__main-box__click-area__social__link-box
        .information-registration__base__main-box__click-area__social__link-box__configuration
          .information-registration__base__main-box__click-area__social__link-box__configuration__social__mail
            = link_to 'メールアドレスで登録する',root_path
          .information-registration__base__main-box__click-area__social__link-box__configuration__social__facebook
            = link_to 'facebookで登録する',root_path
          .information-registration__base__main-box__click-area__social__link-box__configuration__social__google
            = link_to 'googleで登録する',root_path
            

