-# 電話番号認証ページ
.information-registration__base
  .information-registration__base__main-box
    .information-registration__base__main-box__inner-header
      電話番号認証
    .information-registration__base__main-box__click-area
      .information-registration__base__main-box__click-area__input
        %label.information-registration__base__main-box__click-area__input__information__label 認証番号
        %span.information-registration__base__main-box__click-area__input__caveat 必須
        %input.information-registration__base__main-box__click-area__input__information__text{placeholder: " 携帯電話番号の入力", type: "text"}/
        %p.information-registration__base__main-box__click-area__input__black-notes
          SMSで届いた番号を入力してください
      .information-registration__base__main-box__click-area__input
        %a.information-registration__base__main-box__click-area__rink-btn{href: ""} 認証して完了
    
    .information-registration__base__main-box__click-area
      .information-registration__base__main-box__click-area__input
        %p.information-registration__base__main-box__click-area__input__black-notes 30秒たっても認証番号が届かない方へ
        %p.information-registration__base__main-box__click-area__input__gry-notes
          電話番号で認証を聞くこともできます。
      .information-registration__base__main-box__click-area__input
        %a.information-registration__base__main-box__click-area__rink-btn{href: ""} 電話で認証番号を聞く (通話無料)
    
    .information-registration__base__main-box__click-area
      .information-registration__base__main-box__click-area__input
        %p.information-registration__base__main-box__click-area__input__black-notes 電話番号を再送することもできます。もう一度電話番号を入力してください。
        %a.information-registration__base__main-box__click-area__input__rink__position-left{href: ""}電話番号を再度入力する

        %p.information-registration__base__main-box__click-area__input__left-notes 
          ※SMSが届かない場合は
          %a.information-registration__base__main-box__click-area__input__left-notes__rink{href: ""} SMS受信設定
          を確認して、もう一度電話番号を入力してください。
      







-# .information-registration
-#   .information-registration__base
-#     .information-registration__main
-#       .information-registration__header
-#         %h2.information-registration__heading 電話番号認証
-#       .telephone-authentication
-#         .information__text-area
-#           %label.information__label 認証番号
-#           %input.information__text{:placeholder => "認証番号番号を入力", :type => "text"}/
-#           %p.form-info-text SMSで届いた番号を入力してください
-#           %a.next-page{:href => ""} 認証して完了
-#         / これ大事なやつ
-#       / これ大事なやつ
-#       .telephone-authentication
-#         .information__text-area
-#           %label.information__label 30秒たっても認証番号が届かない方へ
-#           %input.information__text{:placeholder => "認証番号番号を入力", :type => "text"}/
-#           %p.form-info-text SMSで届いた番号を入力してください
-#           %a.next-page{:href => ""} 認証して完了
-#       .telephone-authentication
-#         .information__text-area
-#           .notes__main
-#             %p.notes 認証番号を再送することもできます。もう一度電話番号を入力してください。
-#           %p.form-info-text
-#             SMSが届かない場合は
-#             %a> SMS受信設定
-#             を確認して、もう一度電話番号を入力してください。
