.information-registration__base
  .information-registration__base__main-box
    .information-registration__base__main-box__inner-header
      会員情報登録
    .information-registration__base__main-box__click-area
    
      .information-registration__base__main-box__click-area__input
        %label.information-registration__base__main-box__click-area__input__information__label ニックネーム
        %span.information-registration__base__main-box__click-area__input__caveat 必須
        %input.information-registration__base__main-box__click-area__input__information__text{placeholder: " 例）メルカリ太郎", type: "text"}/
      
      .information-registration__base__main-box__click-area__input
        %label.information-registration__base__main-box__click-area__input__information__label メールアドレス
        %span.information-registration__base__main-box__click-area__input__caveat 必須
        %input.information-registration__base__main-box__click-area__input__information__text{placeholder: " PC・携帯どちらでも可", type: "text"}/
      
      .information-registration__base__main-box__click-area__input
        %label.information-registration__base__main-box__click-area__input__information__label パスワード
        %span.information-registration__base__main-box__click-area__input__caveat 必須
        %input.information-registration__base__main-box__click-area__input__information__text{placeholder: " 例)７文字以上", type: "text"}/
      
      .information-registration__base__main-box__click-area__input
        %label.information-registration__base__main-box__click-area__input__information__label パスワード(確認)
        %span.information-registration__base__main-box__click-area__input__caveat 必須
        %input.information-registration__base__main-box__click-area__input__information__text{placeholder: " 例)７文字以上", type: "text"}/
      
      .information-registration__base__main-box__click-area__input
        %p.information-registration__base__main-box__click-area__input__information__label 本人確認
        %p.information-registration__base__main-box__click-area__input__notes
          安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
      
      .information-registration__base__main-box__click-area__input
        %label.information-registration__base__main-box__click-area__input__information__label お名前(全角)
        %span.information-registration__base__main-box__click-area__input__caveat 必須
        
        .information-registration__base__main-box__click-area__input__name-space
          %input.information-registration__base__main-box__click-area__input__name-space__text{placeholder: " 例)山田", type: "text"}/
          %input.information-registration__base__main-box__click-area__input__name-space__text{placeholder: " 例)彩", type: "text"}/

      .information-registration__base__main-box__click-area__input
        %label.information-registration__base__main-box__click-area__input__information__label お名前カナ(全角)
        %span.information-registration__base__main-box__click-area__input__caveat 必須
        
        .information-registration__base__main-box__click-area__input__name-space
          %input.information-registration__base__main-box__click-area__input__name-space__text{placeholder: " 例)ヤマダ", type: "text"}/
          %input.information-registration__base__main-box__click-area__input__name-space__text{placeholder: " 例)アヤ", type: "text"}/

      .information-registration__base__main-box__click-area__input
        %label.information-registration__base__main-box__click-area__input__information__label 生年月日
        %span.information-registration__base__main-box__click-area__input__caveat 必須
        
        .information-registration__base__main-box__click-area__input__flex-start
          %select.information-registration__base__main-box__click-area__input__flex-start__select{placeholder: "例)山田", type: "text"}
          %span.information-registration__base__main-box__click-area__input__flex-start__calendar 年
          %select.information-registration__base__main-box__click-area__input__flex-start__select{placeholder: "例)彩", type: "text"}
          %span.information-registration__base__main-box__click-area__input__flex-start__calendar 月
          %select.information-registration__base__main-box__click-area__input__flex-start__select{placeholder: "例)山田", type: "text"}
          %span.information-registration__base__main-box__click-area__input__flex-start__calendar 日
        %p.information-registration__base__main-box__click-area__input__gry-notes
          ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
      
      .information-registration__base__main-box__click-area__input
        .information-image-views
          .information-image-views__robot-authentication

      .information-registration__base__main-box__click-area__input
        %p.information-registration__base__main-box__click-area__input__center-notes 「次へ進む」のボタンを押すことにより、
        .information-registration__base__main-box__click-area__input__center-notes__rink
          = link_to '利用規約',root_path
          に同意したものとみなします

      .information-registration__base__main-box__click-area__input
        .information-registration__base__main-box__click-area__rink-btn
          = link_to '次ぎへ進む',root_path
      .information-registration__base__main-box__click-area__input
        .information-registration__base__main-box__click-area__input__rink
          = link_to '本人情報の登録について',root_path
