.information-registration__base
  .information-registration__base__main-box
    .information-registration__base__main-box__inner-header
      会員登録完了
    .information-registration__base__main-box__click-area

      .information-registration__base__main-box__click-area__input
        ありがとうございます。会員登録が完了しました。

      .information-registration__base__main-box__click-area__input
      .information-registration__base__main-box__click-area__input__empty-box
        %a.information-registration__base__main-box__click-area__rink-btn{href: ""} 次へ進む
      .information-registration__base__main-box__click-area__input__empty-box

  .information-image-views
    .information-image-views__sample