.information-registration__base
  .information-registration__base__main-box
    .information-registration__base__main-box__inner-header
      住所入力
    .information-registration__base__main-box__click-area

      .information-registration__base__main-box__click-area__input
        %label.information-registration__base__main-box__click-area__input__information__label お名前
        %span.information-registration__base__main-box__click-area__input__caveat 必須
        %input.information-registration__base__main-box__click-area__input__information__text{placeholder: " 例）山田", type: "text"}/
      .information-registration__base__main-box__click-area__next-input
        %input.information-registration__base__main-box__click-area__next-input__information__text{placeholder: " 例）彩", type: "text"}/

      .information-registration__base__main-box__click-area__input
        %label.information-registration__base__main-box__click-area__input__information__label お名前カナ
        %span.information-registration__base__main-box__click-area__input__caveat 必須
        %input.information-registration__base__main-box__click-area__input__information__text{placeholder: " 例）ヤマダ", type: "text"}/
      .information-registration__base__main-box__click-area__next-input
        %input.information-registration__base__main-box__click-area__next-input__information__text{placeholder: " 例）アヤ", type: "text"}/

      .information-registration__base__main-box__click-area__input
        %label.information-registration__base__main-box__click-area__input__information__label 郵便番号
        %span.information-registration__base__main-box__click-area__input__caveat 必須
        %input.information-registration__base__main-box__click-area__input__information__text{placeholder: " 例）123-4567", type: "text"}/

      .information-registration__base__main-box__click-area__input
        %label.information-registration__base__main-box__click-area__input__information__label 都道府県
        %span.information-registration__base__main-box__click-area__input__caveat 必須
        %select.information-registration__base__main-box__click-area__input__information__text

      .information-registration__base__main-box__click-area__input
        %label.information-registration__base__main-box__click-area__input__information__label 市区町村
        %span.information-registration__base__main-box__click-area__input__caveat 必須
        %input.information-registration__base__main-box__click-area__input__information__text{placeholder: " 例）横浜市緑区", type: "text"}/

      .information-registration__base__main-box__click-area__input
        %label.information-registration__base__main-box__click-area__input__information__label 番地
        %span.information-registration__base__main-box__click-area__input__caveat 必須
        %input.information-registration__base__main-box__click-area__input__information__text{placeholder: " 例）青山1-1-1", type: "text"}/

      .information-registration__base__main-box__click-area__input
        %label.information-registration__base__main-box__click-area__input__information__label 建物名
        %span.information-registration__base__main-box__click-area__input__caveat__arbitrarily 任意
        %input.information-registration__base__main-box__click-area__input__information__text{placeholder: " 例）柳ビル", type: "text"}/

      .information-registration__base__main-box__click-area__input
        %label.information-registration__base__main-box__click-area__input__information__label 電話
        %span.information-registration__base__main-box__click-area__input__caveat__arbitrarily 必須
        %input.information-registration__base__main-box__click-area__input__information__text{placeholder: " 例）09012345678", type: "text"}/

        .information-registration__base__main-box__click-area__input
        .information-registration__base__main-box__click-area__input__empty-box
        .information-registration__base__main-box__click-area__rink-btn{href: ""} 
          = link_to '次へ進む',root_path


      



