.information-registration__main-header
  .information-registration__main-header__logo-mark
    .nformation-registration__main-header__logo-mark__img
      = link_to '',root_path
      = image_tag 'logo_horizontal.png', class: "img"
  .information-registration__main-header__reft
    .guide-messages
      .guide-messages__information__red 会員情報
      .guide-messages__tel 電話番号
      .guide-messages__address お届け先住所入力
      .guide-messages__payment 支払い方法
      .guide-messages__end 完了

    .guide-line
      .guide-line__dot-red
      .guide-line__border-gray
      .guide-line__dot-gray
      .guide-line__border-gray
      .guide-line__dot-gray
      .guide-line__border-gray
      .guide-line__dot-gray
      .guide-line__border-gray
      .guide-line__dot-gray
    