-# 電話番号確認ページ
.information-registration__base
  .information-registration__base__main-box
    .information-registration__base__main-box__inner-header
      電話番号の確認
    .information-registration__base__main-box__click-area
      .information-registration__base__main-box__click-area__input
        %label.information-registration__base__main-box__click-area__input__information__label 携帯電話の番号
        %span.information-registration__base__main-box__click-area__input__caveat 必須
        %input.information-registration__base__main-box__click-area__input__information__text{placeholder: " 携帯電話番号の入力", type: "text"}/
        %p.information-registration__base__main-box__click-area__input__black-notes
          本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
      .information-registration__base__main-box__click-area__input
        .information-registration__base__main-box__click-area__rink-btn
          = link_to 'SMSを送信する',root_path
        %p.information-registration__base__main-box__click-area__input__black-notes
          電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
        .information-registration__base__main-box__click-area__input
        .information-registration__base__main-box__click-area__input__rink
          = link_to '電話番号の確認が必要な理由',root_path

