* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
.breadcrumbs{
  position: relative;
  border-top: 1px solid #eee;
  background: #f5f5f5;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
  overflow: visible;
  width: 1000px;
  margin: 0 auto;
  padding: 16px 0;
  white-space: normal;
  font-size: 14px;
}
.current{
  font-weight: bold;
}
