.sell-content.clearfix
  %h3.sell-sub-head 商品の詳細
  .sell-form-box
    .sell-form-box__right
      .form-group
        %label
          カテゴリー
          %span.form-require 必須
        %div
          .select-wrap
            %select{class:"select-wrap__defaultcategory"}
              %option{value: 0} ---
              %option{value: 0} ---
              %option{value: 0} ---
            %i.fa.fa-angle-down
          .select-wrap
            %select{class:"select-wrap__defaultcategory"}
              %option{value: 0} ---
              %option{value: 1} トップス
              %option{value: 2} ジャケット/アウター
              %option{value: 3} パンツ
              %option{value: 4} スカート
              %option{value: 5} ワンピース
              %option{value: 1328} 靴
              %option{value: 6} ルームウェア/パジャマ
              %option{value: 7} レッグウェア
              %option{value: 8} 帽子
              %option{value: 9}バッグ
              %option{value: 1027} アクセサリー
              %option{value: 1318} ヘアアクセサリー
              %option{value: 10} その他
            %i.far.fa-angle-down
          .select-wrap
            %select{class:"select-wrap__defaultcategory"}
              %option{value: "0"} ---
              %option{value: "1"} Tシャツ
              %option{value: "2"} シャツ
              %option{value: "3"} ポロシャツ
              %option{value: "4"} キャミソール
              %option{value: "5"} タンクトップ
              %option{value: "1328"} ホルターネック
              %option{value: "6"} ニット/セーター
              %option{value: "7"} チュニック
              %option{value: "8"} カーディガン
              %option{value: "9"} アンサンブル
              %option{value: "1027"} ベスト
              %option{value: "1318"} パーカー
              %option{value: "10"} その他
            %i.far.fa-angle-down
      .form-group.top-margin
        %label
          サイズ
          %span.form-require 必須
        %div
          .select-wrap
            %select{class:"select-wrap__defaultcategory"}
              %option{value: "0"} ---
              %option{value: "1"} XXS以下
              %option{value: "2"} XS
              %option{value: "3"} S
              %option{value: "4"} M
              %option{value: "5"} L
              %option{value: "1328"} XL
              %option{value: "6"} 2XL
              %option{value: "7"} 3XL
              %option{value: "8"} 4XL
              %option{value: "9"} Free
            %i.fa.fa-angle-down
      .form-group.top-margin
        %label
          ブランド
          %span.form-optional 任意
        %div
          .select-wrap
            %select{class:"select-wrap__defaultcategory"}
              %option{value: 0} ---
              %option{value: 0} ---
              %option{value: 0} ---
            %i.fa.fa-angle-down
      .form-group.top-margin
        %label
          商品の状態
          %span.form-require 必須
        %div.clearfix
          .select-wrap
            %select{class:"select-wrap__defaultcategory"}
              %option{value: 0} ---
              %option{value: 0} ---
              %option{value: 0} ---
            %i.far.fa-angle-down

