@mixin kaminari-config() {
  height: 45px;
  width: 45px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid $gray_border;
  text-align: center;
  display: block;
}

@mixin kaminari-font(){
  line-height: 45px;
  font-size: 2.0em;
  text-decoration: none;
  color: $main_font;
}
.pagination-box {
  height: 50px;
  width: 100%;
  margin-top: auto;

  .pagination{
    display: flex;
    justify-content: space-between;
    .first{
      @include kaminari-config();
    
      a{
        @include kaminari-font();
      }
    }

    .last{
      @include kaminari-config();
      a{
        @include kaminari-font();
      }
    }
    
    .next{
      @include kaminari-config();
      a{
        @include kaminari-font();
      }
    }

    .page{
      @include kaminari-config();
      a{
        @include kaminari-font();
        font-size: 0.8em;  
      }
      &__current{
        @include kaminari-config();
        color: #ffffff;
        line-height: 45px;
        font-size: 0.8em; 
        background-color: $main-red;
      }
    }
    
    .pagination{
      @include kaminari-config();
      &__left{
        margin-left: 30px;
        display: flex;
      }
      &__center{
        display: flex;
      }
      &__right{
        margin-right: 20px;
        display: flex;
      }
      a{
        @include kaminari-font();
      }
    }
    
    .prev{
      @include kaminari-config();
      a{
        @include kaminari-font();
      }
    }
  }
}
