.information-registration__base{
  padding-bottom: 60px;
  text-align: center;
  background-color: #f5f5f5;

  &__main-box{
    width: 70%;
    margin: 0 auto;
    background-color: #FFF;

    &__inner-header{
    height: 55px;
    padding-top: 40px;
    font-size: 20px;
    line-height: 1.0;
    font-weight: bold; 
    }
  
    &__click-area{
    padding: 24px 16px 40px;
    border-top: 1px solid#f5f5f5;

      &__social__link-box{
        height: 100%;
        width: 350px;
        padding-top: 20px;
        margin: 0 auto;

        &__configuration{
          line-height: 48px;
          border-radius: 3px;
          text-decoration: none;
          color: #FFF;
        
          &__social__mail{
            height: 50px;
            border-radius: 3px;
            background-color: #EA352D;
            text-decoration: none;
            a{
              color: #FFF;
              text-decoration: none;
            }
          }
          
          &__social__facebook{
            height: 50px;
            margin-top: 10px;
            border-radius: 3px;
            background-color: #385185;
            a{
              color: #FFF;
              text-decoration: none;
            }
          }
          &__social__google{
            height: 50px;
            margin-top: 10px;
            border-radius: 3px;
            border: 1px solid#979797;
            background-color: #FFF;
            a{
              color: #000000;
              text-decoration: none;
            }
          }
        }
      }

      // 名前、メアド、パス、誕生日、ロボット
      
      &__input{
        height: 100%;
        width: 350px;
        padding-top: 20px;
        margin: 0 auto;

        &__empty-box{
          height: 20px;
          @include clearfix();

        }

        &__information__label{
          float: left;
          font-weight: bold; 

        }

        &__caveat{
          height: 25px;
          width: 30px;
          margin-left: 15px;
          border-radius: 3px;
          font-size: 12px;
          line-height: 1.8;
          color: #FFF;
          background-color: #EA352D;
          display: block;
          float: left;

          &__arbitrarily{
            height: 25px;
          width: 30px;
          margin-left: 15px;
          border-radius: 3px;
          font-size: 12px;
          line-height: 1.8;
          color: #FFF;
          background-color: #696969;
          display: block;
          float: left;
          }
        }

        &__information__text{
          height: 50px;
          width: 350px;
          margin-top: 30px;
          border-radius: 3px;
          border: 1px solid#cccc; 
          display: block;
          @include clearfix();

          &__select{
            width: 150px;
            height: 50px;
            margin-top: 30px;
            border-radius: 3px;
            border: 1px solid#cccc; 
            display: block;

          }
        }
        &__notes{
          margin-top: 30px;
          text-align: left;
          display: block;
          @include clearfix();
        }
        &__name-space{
          margin-top: 30px;
          display: flex; 
          justify-content: space-between;

          &__text{
            height: 50px;
            width: 168px;
            border: 1px solid #cccc; 
            border-radius: 3px;
          }
        }
        &__flex-start{
          margin-top: 30px;
          clear: both;
          display: flex;
          justify-content: flex-start;

          &__select{
            height: 50px;
            width: 70px;
            border-radius: 3px;
            border: 1px solid#cccc; 
          }
          &__next-select{
            margin-top: 10px;
            clear: both;
            display: flex;
            justify-content: flex-start; 
          }
          &__calendar{
            margin: 15px 5px;

          }
        }
        &__gry-notes{
          color: #888888;
          text-align: left;

        }
        &__black-notes{
          margin-top: 10px;
          text-align: left;

        }
        &__center-notes__rink{
          a{
          text-decoration: none;
          color: #0199E8;
          }
        }

        &__left-notes{
          margin-top: 5px;
          color: #888888;
          text-align: left;

          &__rink{
            a{
              text-align: left;
            text-decoration: none;
          color: #0199E8;
            }
          }
        }
      }
      &__rink-btn{
        a{
        height: 50px;
        width: 350px;
        margin: 0 auto;
        line-height: 48px;
        border-radius: 3px;
        color: #FFF;
        background-color: #EA352D;
        display: block;
        text-decoration: none;
        }
      }
      &__input__rink{
        a{
        text-decoration: none;
        color: #0199E8;
        text-align: right;
        display: block;
        }

        &__position-left{
          a{
          margin-top: 3px;
        text-decoration: none;
        color: #0199E8;
        text-align: left;
        display: block;
          }
        }
      }
      &__next-input{
        height: 100%;
        width: 350px;
        margin: 0 auto;

        &__information__text{
          height: 50px;
          width: 350px;
          margin-top: 10px;
          border-radius: 3px;
          border: 1px solid#cccc; 
          display: block;
          @include clearfix();
        }
      }
    }
  }
}

.information-image-views{
  &__robot-authentication{
    height: 95px;
    background: image-url('68747470733a2f2f71696974612d696d6167652d73746f72652e73332e616d617a6f6e6177732e636f6d2f302f31363632392f31376365643161652d353566642d636239372d373066362d3362313536373361666138362e706e67.png');
    background-size: contain;
 
  }
  &__sample{
    display: block;
    margin-top: 100px;
    height: 500px;
    width: 100%;
    background: image-url('8903886_1555555130_074625500_0_901_388.jpeg');
    background-size: cover;


  }
}
