.information-registration__base{
 
  text-align: center;
  background-color: #f5f5f5;

  &__main-box{
    width: 700px;;
    margin: 0 auto;
    background-color: #FFF;
    padding-bottom: 30px;
    #new_user{
      padding-bottom: 40px;
    }
    &__inner-header{
    height: 55px;
    padding-top: 40px;
    font-size: 20px;
    line-height: 1.0;
    font-size: 22px;
    font-weight: bold; 
    
    }
  
    &__click-area{
    padding: 0 16px 40px;
    border-top: 1px solid#f5f5f5;
    font-size: 14px;
      
      &__social__link-box{
        height: 100%;
        width: 350px;
        padding-top: 20px;
        margin: 0 auto;

        &__configuration{
          line-height: 48px;
          border-radius: 3px;
          text-decoration: none;
          color: #FFF;
          
    
          &__social__mail{
            height: 50px;
            border-radius: 3px;
            background-color: #ea352d;
            text-decoration: none;
            position: relative;
            .fa{
              font-size: 20px;
              font-weight: 600;
              position: absolute;
              top: 14px;
              left: 20px;
          
            }
            
            a{
              color: #FFF;
              text-decoration: none;
              display: block;
            }
          }
          
          &__social__facebook{
            height: 50px;
            margin-top: 15px;
            border-radius: 3px;
            background-color: #385185;
            position: relative;
            .fa{
              font-size: 26px;
              position: absolute;
              top: 12px;
              left: 20px;
            }
            a{
              color: #FFF;
              text-decoration: none;
              display: block;
            }
          }
          &__social__google{
            height: 50px;
            margin-top: 15px;
            border-radius: 3px;
            border: 1px solid#979797;
            background-color: #FFF;
            position: relative;
            .google{
             position: absolute;
             top: 0;
             left: 5px;
            }
            a{
              color: #000000;
              text-decoration: none;
              display: block;
            }
          }
        }
      }

      // 名前、メアド、パス、誕生日、ロボット
      &__error-font{
        font-size: 14px;
        color: #EA352D;
        width: 350px;
        margin: 0 auto;
        padding-top: 10px;
        li{
          text-align: left;
        }
      }
     
      &__input{
        height: 100%;
        width: 350px;
        padding-top: 20px;
        margin: 0 auto;
        font-size: 14px;
        
        &__flex-start{
          margin-top: 30px;
        }
       
        select{
          padding: 20px;
          width: 80px;
          height: 50px;
          background-color: #fff;
          margin-left: 5px;
          option{
            padding: 20px;
          }
        }
        &__image-box{
          display: flex;
          width: 360px;
          padding-top: 20px;
          padding-bottom: 10px;
          margin:0 auto;
          .image{
            margin-right: 10px;
            width: 40px;
            height: 30px;
          }
        }
        #user_address_attributes_prefecture_id{
          margin-top: 10px;
          border: solid 1px #D6D6D6;
          background-color: #fff;
          width: 370px;
          height: 50px;
        }
        &__empty-box{
          height: 20px;
          @include clearfix();
          
        }

        &__information__label{
          float: left;
          font-weight: bold; 

        }

        &__caveat{
          
          width: 30px;
          margin-left: 15px;
          border-radius: 3px;
          font-size: 12px;
          line-height: 1.8;
          color: #FFF;
          background-color: #EA352D;
          display: block;
          float: left;

          &__arbitrarily{
         
          width: 30px;
          margin-left: 15px;
          border-radius: 3px;
          font-size: 12px;
          line-height: 1.8;
          color: #FFF;
          background-color: #696969;
          display: block;
          float: left;
          }
        }

        &__information__text{
          height: 50px;
          padding: 0 10px;
          width: 350px;
          margin-top: 30px;
          border-radius: 3px;
          border: 1px solid#cccc; 
          display: block;
          @include clearfix();

          &__select{
            width: 150px;
            height: 50px;
            margin-top: 30px;
            border-radius: 3px;
            border: 1px solid#cccc; 
            display: block;

          }
        }
        &__notes{
          margin-top: 30px;
          text-align: left;
          display: block;
          @include clearfix();
        }
        &__name-space{
          margin-top: 30px;
          display: flex; 
          justify-content: space-between;

          &__text{
            padding: 0 5px;
            margin-right: 10px;
            height: 50px;
            width: 168px;
            border: 1px solid #cccc; 
            border-radius: 3px;
          }
        }
        &__area{
          margin-top: 50px;
          display: flex;
          &__flex-start{
            float:left;
            select{
              padding: 20px;
              width: 150px;
              height: 50px;
              background-color: #fff;
              margin-left: 5px;
              option{
                padding: 20px;
              }
            }

            &__select{
              height: 50px;
              width: 150px;
              border-radius: 3px;
              border: 1px solid#cccc; 
            }
            &__next-select{
              clear: both;
              display: flex;
              float:left;
              select{
                padding: 20px;
                width: 100px;
                height: 50px;
                background-color: #fff;
                margin-left: 5px;
              }
              
  
            }
            &__calendar{
              margin: 15px 5px;

            }
          }
        }
        &__gry-notes{
          color: #888888;
          text-align: left;
          margin-top: 10px;
        }
        &__black-notes{
          margin-top: 10px;
          text-align: left;
        }
        &__center-notes__rink{
          a{
          text-decoration: none;
          color: #0199E8;
          }
        }

        &__left-notes{
          margin-top: 5px;
          color: #888888;
          text-align: left;

          &__rink{
            text-align: left;
            a{
              text-align: left;
            text-decoration: none;
          color: #0199E8;
            }
          }
        }
      }
      &__rink-btn{
        text-align: center;
        cursor: pointer;
        height: 50px;
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        line-height: 48px;
        border:none;
        border-radius: 3px;
        color: #FFF;
        background-color: #EA352D;
     
        text-decoration: none;
        a{
          color: #fff;
          display: block;
          text-decoration: none;
        }
      }
      &__input__rink{
        a{
        text-decoration: none;
        color: #0199E8;
        text-align: right;
        display: block;
        }

        &__position-left{
          a{
          padding: 5px 0;
        text-decoration: none;
        color: #0199E8;
        text-align: left;
        display: block;
          }
        }
      }
      &__next-input{
        height: 100%;
        width: 350px;
        margin: 0 auto;
       input{
         padding:0 10px;
       }
        &__information__text{
          height: 50px;
          width: 350px;
          margin-top: 10px;
          border-radius: 3px;
          border: 1px solid#cccc; 
          display: block;
          @include clearfix();
        }
      }
    }
  }
}

.information-image-views{
  &__robot-authentication{
    height: 95px;
    background: image-url('people.png');
    background-size: contain;
 
  }
  &__sample{
    display: block;
    margin-top: 100px;
    height: 500px;
    width: 100%;
    background: image-url('8903886_1555555130_074625500_0_901_388.jpeg');
    background-size: cover;


  }
}
.field_with_errors {
  input{
    border: solid 1px red;
  }
}