// サークル
.wrapper2 {
  position: relative;
  .circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #EA352D;
    color: #ffffff;
    float: right;
    position: absolute;
    right: 30px;
    bottom: 30px;
    position: fixed;
    &__message {
      text-align: center;
      font-size: 22px;
      margin: 40px 0 0;
      line-height: 20%;
    }
    &__awesome {
      text-align: center;
      font-size: 55px;
      .fa {
        color: #ffffff;
      }
    }
  }
}
// メイン
.search-box{
  width: 100%;
  height: 100%;
  color: $main_font;
  background-color: $f5;
  border-top: 3px inset $f5;
  box-sizing: border-box;

  &__support{
    width: 1100px;
    margin: 0 auto;
    display: flex;

    .left-box{
      width: 350px;
      // text-align: center;

      &__support{
        width: 280px;
        margin: 0 auto;
        
        .sort{
          height: 40px;
          width: 100%;
          margin-top: 30px;
          border-radius: 3px;
          border: 1px solid#cccc; 
        }

        .details{
          margin-top: 30px;
          padding-top: 5px;
          padding-bottom: 20px;
          background-color: #ffffff;

          &__support{
            width: 240px;
            margin: 0 auto;

            .font-status{
              margin-top: 20px;
              font-weight: 900;
             
              &__1{
                margin-top: 35px;
                font-weight: 600;
                font-size: 0.8em
              }
            }
            .input{
            height: 40px;
            width: 100%;
            border-radius: 3px;
            border: 1px solid#cccc; 
            }
            .min-max{
              margin-top: 3px;
              display: flex;
              justify-content: space-between;

              &__box{
                margin: 0px 5px 0px;
                padding-top: 5px; 
              }
              .input{
              }
            }
            .checkbox{
              display: flex;
              justify-content: space-between;
              height: 100px;
              width: 40%;
              &__flex{


              }
            }
            .botan-box{
              display: flex;
              text-align: center;
              justify-content: space-between;
              .left{
                height: 50px;
                width: 105px;
                line-height: 50px;
                color: #ffffff;
                background-color: #AAAAAA;
                text-decoration: none;
                display: block;
              }
              .right{
                height: 50px;
                width: 105px;
                line-height: 50px;
                color: #ffffff;
                background-color: #EA352D;
                text-decoration: none;
                display: block;
  
              }
            }
          }
        }
      }
    }

    
    .right-box{
      .result{
        margin-left: 6px;
        margin-top: 30px;
      }
      .middle-product-set {
        display: flex;
        .middle-product {
          margin: 10px;
          a {
            text-decoration: none;
          }
          &__image {
            width: 200px;
            height: 200px;
            background-color: gray;
          }
          &__description {
            width: 200px;
            height: 100px;
            background-color: #ffffff;
            box-sizing: border-box;
            padding: 10px;
            color: black;
            &__message {
              min-height: 50px;
              font-size: 15px;
            }
            &__value {
              display: flex;
              justify-content: space-between;
              font-weight: 550;
            }
          }
        }
      }
    }
  }
}