.footer{
  &__image{
    background-image: url("bg_pc.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    &__content{
      width: 800px;
      margin:0 auto;
      display: flex;
      justify-content: space-between;
      &__left{
        margin-top: 50px;
        p{
          font-size: 24px;
          font-weight: 600;
          color: #fff;
        }
        h3{
          font-size: 35px;
          margin-bottom: 20px;
          color: #fff;
        }
        &__phone{
          display: flex;
          .mercari-image{
            width: 70px;
            height: 70px; 
            margin-right: 20px;
          }
          .app-image{
            margin-top: 15px;
            margin-right: 15px;
          }
          .app-image:hover{
            opacity: 0.7 ;
          }
          .google-image{
            margin-top: 15px;
          }
          .google-image:hover{
            opacity: 0.7 ;
          }
        }
      }
      &__right{
        
        .phone-image{
          width: 300px;
          height: 100%;
        }
      }
    }
  }
  &__nav{
    background-color: #212121; 
    height: 100%;
    color: #fff;
    padding: 20px 60px;
    &__flex{
      width: 1100px;
      display: flex;
      margin: 0 auto;
 
      
      &__colum{
        margin-right: 25px;
        width: 25%;
        h3{
          font-size: 16px;
          font-weight: 600;
        }
        .fa{
          font-size: 32px;
          margin-top: 20px;
          margin-right: 20px;
        }
        .colum-margin{
          margin-top: 40px;
        }
        ul{
          li{
            font-size: 12px;
            margin: 17px 0;
            a{
              color: #BCBCBC;
              text-decoration: none;
            }
            :hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
    .footer-bottom{
      width: 1100px;
      margin: 0 auto;
      .logo-white{
        float: left;
      }
      
      .copyright{
        text-align: center;
        font-size: 11px;
        margin-right: 100px;
        margin-bottom: 10px;
      }
    }
  }
}