.sell {
  background-color: #F5F5F5;
  &__header {
    height: 128px;
    h1 {
      height: 128px;
      img {
        display: block;
        margin: auto;
        padding-top: 19px;
      }
    }
  }
  &__main {
    width: 700px;
    margin: auto;
    display: block;
    background-color: #FFFFFF;
    h2 {
      padding: 32px 16px;
      font-size: 22px;
      text-align: center;
      display: block;
      font-weight: bold;
      color: rgb(51, 51, 51);
      border-bottom: 1px solid #eee;
    }
    &__upload--box {
      width: 620px;
      padding: 40px;
      h3 {
        font-size: 16px;
        font-weight: bold;
        span {
          @include form-require();
        }
      }
      p {
        margin: 8px 0 0;
        line-height: 1.5;
        font-size: 14px;
        color: #333;
      }
      .dropzone {
        margin-top: 16px;
        height: 162px;
        width: 620px;
        position: relative;
        z-index: 2;
        background: #f5f5f5;
        border: 1px dashed #ccc;
        text-align: center;
        &__child {
          margin-top: 60px;
          .dropzone__grand-child {
            height: 162px;
            width: 620px;
            cursor: pointer;
            position: absolute;
            top: 0px;
            z-index: 1;
            display: block;
            opacity: 0;
          }
        }
      }
    }
    .sell-content {
      width: 620px;
      padding: 40px;
      border-top: 1px solid #eee;
      .form-group{
        label {
          font-size: 14px;
          font-weight: 600;
          display: inline-block;
          color: #333;
          .form-require {
            @include form-require();
          }
          .form-optional {
            background: gray;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
          }
        }
        div{
          .input-default {
            @include input-default();
            margin-bottom: 40px;
          }
          .textarea-default {
            display: block;
            width: 598px;
            max-width: 100%;
            min-height: 104px;
            padding: 10px;
            border: 1px solid #ccc;
            background: #fff;
            font-size: 16px;
            line-height: 1.5;
            margin-top: 8px;
          }
        }
      }
    }
    .sell-content {
      width: 620px;
      padding: 40px;
      border-top: 1px solid #eee;
      h3 {
        float: left;
        color: #888;
        font-size: 14px;
        display: block;
        font-weight: bold;
      }
      .form--question {
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #0099e8;
        color: #fff;
        line-height: 14px;
        font-size: 12px;
        text-align: center;
      }
      .sell-form-box {
        @include clearfix();
        width: 400px;
        display: inline-block;
        margin-left: 220px;
        &__right {
          float: right;
        }
        .form-group {
          width: 400px;
          margin: 0;
          color: #333;
          @include select();
        }
        .float- {
          float: left
        }
        .top-margin {
          margin-top: 40px;
        }
        .sell-price {
          .clearfix {
            @include clearfix();
            padding: 0 0 24px;
            .l-left {
              padding-top: 17px;
            }
            .l-right.sell-price-input {
              width: 50%;
              text-align: right;
              float: right;
              font-size: 11px;
              font-weight: bold;
              div {
                width: 80%;
                display: inline-block;
                margin-left: 5px;
                .input--price__default {
                  width: 126px;
                  height: 46px;
                  padding: 0 16px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: #fff;
                  line-height: 1.5;
                  font-size: 16px;
                  text-align: right;
                  display: inline-block;
                  font-weight: normal;
                }
              }
            }
          }
          li.clearfix.bold {
            font-weight: bold;
          }
          li.clearfix {
            border-top: 1px solid #ccc;
            display: list-item;
            .l-left {
              display: inline-block;
              .small {
                font-size: 13px;
              }
            }
            .l-right {
              float: right;
              padding-top: 17px;
            }
          }
        }
      }
    }
    .sell-content.sell-btn-box {
      height: 248px;
      padding: 40px;
      border-top: 1px solid #eee;
      p {
        line-height: 1.7;
        color: #333;
        font-size: 13px;
        a {
          color: #0099e8;
          text-decoration: none;
        }
      }
      .btn--red {
        margin: 40px 0 0;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        transition: all ease-out .3s;
        text-align: center;
      }
      .btn--gray {
        width: 45%;
        margin: 24px auto 0;
        background: #aaa;
        border: 1px solid #aaa;
        color: #fff;
        display: block;
        line-height: 48px;
        font-size: 14px;
        transition: all ease-out .3s;
        text-align: center;
      }
    }
  }
  &__footer {
    width: 456px;
    height: 160px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0;
    nav {
      display: block;
      ul {
        li {
          display: inline-block;
          margin: 0;
          font-size: 12px;
          list-style: none;
          color: #333;
          a {
            display: block;
            color: #333;
            text-decoration: none;
          }
        }
      }
    }
    h1 {
      margin: 40px auto 0;
    }
    p {
      display: block;
      color: #333;
      height: 65px;
      text-decoration: none;
      margin: 0 auto;
    }
  }
}
