@import "mixin/form-require";

.sell {
  background-color: #F5F5F5;
  &__header {
    height: 128px;
    h1 {
      height: 128px;
      img {
        display: block;
        margin: auto;
        padding-top: 19px;
      }
    }
  }
  &__main {
    width: 700px;
    margin: auto;
    display: block;
    background-color: #FFFFFF;
    h2 {
      padding: 32px 16px;
      font-size: 22px;
      text-align: center;
      display: block;
      font-weight: bold;
      color: rgb(51, 51, 51);
      border-bottom: 1px solid #eee;
    }
    &__upload--box {
      width: 620px;
      padding: 40px;
      h3 {
        font-size: 16px;
        font-weight: bold;
        span {
          @include form-require();
        }
      }
      p {
        margin: 8px 0 0;
        line-height: 1.5;
        font-size: 14px;
        color: #333;
      }
      .sell-upload-dropbox {

      }
    }
    .sell-content {
      width: 620px;
      padding: 40px;
      border-top: 1px solid #eee;
      .form-group{
        label {
          font-size: 14px;
          font-weight: 600;
          display: inline-block;
          color: #333;
          span {
            @include form-require();
          }
        }
        div{
          .input-default {
            // @include input-default();
          }
        }
      }
    }
  }
}
