.sell
  .sell__header
    %h1
      = image_tag "logo.svg", size: "185x90"

.information-registration__base
  .information-registration__base__main-box
    .information-registration__base__main-box__inner-header
      購入が完了しました！
    .information-registration__base__main-box__click-area

      .information-registration__base__main-box__click-area__input
        購入完了しました。出品者の発送通知をお待ちください。

      .information-registration__base__main-box__click-area__input
      .information-registration__base__main-box__click-area__input__empty-box
        .information-registration__base__main-box__click-area__rink-btn
          = link_to '次へ進む',root_path
      .information-registration__base__main-box__click-area__input__empty-box

  .information-image-views
    .information-image-views__sample