.sell
  .sell__header
    %h1
      = image_tag "logo.svg", size: "185x90"

  .sell__main
    .sell__main__container
      %h2.single-head
        商品の情報を入力
    -#   -# = form_for @item do |f|
    -#   -# = form_with model:@product, class:"sell--form",local: true do |f|
    -#     -# = f.hidden_field :sales_status,{value:"出品中"}
    -#     .sell-upload-box
    -#       %h3.sell-upload-head
    -#         出品画像
    -#         %span.form-require 必須
    -#       %p 最大10枚までアップロードできます
    -#       .sell-upload-dropbox.have-item-0
    -#         %pre.visible-pc
    -#           ドラッグアンドドロップまたはクリックしてファイルをアップロード
    -#         %i.fas.fa-camera

    -#     .sell-content
    -#       .form-group
    -#         %label
    -#           商品名
    -#           %span.form-require 必須
    -#         %div
    -#           -# = f.text_field.input-default{placeholder: "商品名（必須 40文字まで）"}
    -#       .form-group
    -#         %label
    -#           商品の説明
    -#           %span.form-require 必須
    -#         -# = f.text_area.textarea-default :description, {rows: "5", placeholder: "商品の説明（必須 1000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"}

    -#     .sell-content.clearfix
    -#       %h3.sell-sub-head 商品の詳細
    -#       .sell-form-box
    -#         .form-group
    -#           %label
    -#             カテゴリー
    -#             %span.form-require 必須
    -#           %div
    -#             .select-wrap1
    -#               = f.select :category_l,Item.category_ls.keys, {}, {class:"select--wrap-cat1__default-category1"}
    -#               %i.far.fa-angle-down
    -#             .select-wrap2
    -#               %select.select-default
    -#                 %option{value: 0} ---
    -#                 %option{value: 1} トップス
    -#                 %option{value: 2} ジャケット/アウター
    -#                 %option{value: 3} パンツ
    -#                 %option{value: 4} スカート
    -#                 %option{value: 5} ワンピース
    -#                 %option{value: 1328} 靴
    -#                 %option{value: 6} ルームウェア/パジャマ
    -#                 %option{value: 7} レッグウェア
    -#                 %option{value: 8} 帽子
    -#                 %option{value: 9}バッグ
    -#                 %option{value: 1027} アクセサリー
    -#                 %option{value: 1318} ヘアアクセサリー
    -#                 %option{value: 10} その他
    -#               %i.far.fa-angle-down
    -#             .select-wrap3
    -#               %select.select-default
    -#                 %option{value: "0"} ---
    -#                 %option{value: "1"} Tシャツ
    -#                 %option{value: "2"} シャツ
    -#                 %option{value: "3"} ポロシャツ
    -#                 %option{value: "4"} キャミソール
    -#                 %option{value: "5"} タンクトップ
    -#                 %option{value: "1328"} ホルターネック
    -#                 %option{value: "6"} ニット/セーター
    -#                 %option{value: "7"} チュニック
    -#                 %option{value: "8"} カーディガン
    -#                 %option{value: "9"} アンサンブル
    -#                 %option{value: "1027"} ベスト
    -#                 %option{value: "1318"} パーカー
    -#                 %option{value: "10"} その他
    -#               %i.far.fa-angle-down
    -#         .form-group
    -#           %label
    -#             商品の状態
    -#             %span.form-require 必須
    -#           %div
    -#             .select-wrap
    -#               -# = f.select :status,Item.statuses.keys, {}, {class:"select--wrap__default"}
    -#               %i.far.fa-angle-down

    -#     .sell-content.clearfix
    -#       %h3.sell-sub-head 配送について
    -#       %a(href="").form-question ?
    -#       .sell-form-box
    -#         .form-group
    -#           %label
    -#             配送料の負担
    -#             %span.form-require 必須
    -#           %div
    -#             .select-wrap
    -#               -# = f.select :delivery_charge,[['---',""], ['送料込み（出品者負担）', '送料込み（出品者負担）'], ['着払い（購入者負担）', '着払い（購入者負担）']], {}, {class:"select--wrap__default"}
    -#               %i.far.fa-angle-down
    -#         .form-group
    -#           %label
    -#             発送元の地域
    -#             %span.form-require 必須
    -#           %div
    -#             .select-wrap
    -#               -# = f.select :prefecture,Item.prefectures.keys,{},{class:"select--wrap__default select--wrap-cat3__default-category3"}
    -#               %i.far.fa-angle-down
    -#         .form-group
    -#           %label
    -#             発送までの日数
    -#             %span.form-require 必須
    -#           %div
    -#             .select-wrap
    -#               = f.select :delivery_days,[['---',""], ['1~2日で発送', '1~2日で発送'], ['2〜3日で発送', '2〜3日で発送'],['4〜7日で発送', '4〜7日で発送']], {}, {class:"select--wrap__default"}
    -#               %i.far.fa-angle-down

    -#     .sell-content.clearfix
    -#       %h3.sell-sub-head 販売価格(300~9,999,999)
    -#       %a(href="").form-question ?
    -#       .sell-form-box
    -#         %ul.sell-price
    -#           %li.form-group
    -#             .clearfix
    -#               %label.l-left
    -#                 価格
    -#                 %span.form-require
    -#                   必須
    -#               .l-right.sell-price-input
    -#                 ¥
    -#                 %div
    -#                   =f.text_field :price,class:"input--price__default",placeholder: "例）300"          %li.clearfix
    -#             .l-left
    -#               販売手数料（10%）
    -#             .l-right -
    -#           %li.clearfix.bold
    -#             .l-left 販売利益
    -#             .l-right -
        
    -#     -# .modal{role: "dialog", tabindex: "--1"}
    -#     -#   .modal--inner
    -#     .sell-content.sell-btn-box
    -#       %div
    -#         %p
    -#           %a(href="")
    -#           禁止されている出品
    -#           、
    -#           %a(href="")行為
    -#           "を必ずご確認ください。"
    -#         %p
    -#           "またブランド品でシリアルナンバー等がある場合はご記載ください。"
    -#           %a(href="")偽ブランドの販売
    -#           "は犯罪であり処罰される可能性があります。"
    -#         %p
    -#           "また出品をもちまして"
    -#           %a(href="")加盟店規約
    -#           "に同意したことになります。"
    -#         .actions
    -#           =f.submit "出品する",class:"btn--red"
    -#       %a.btn-default.btn-gray もどる
